<div class="hero">
    <div class="heroImgs">
        <div class="heroMainImgs">
            <!-- Persona Mid -->
            <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/P_Mid.png" alt="P1" class="PersonaUno" loading="eager">
            <!-- Persona Right -->
            <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/P_Right.png" alt="P2" class="PersonaDos" loading="eager">
            <!--Arbusto 1 -->
            <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/Bush_Left.png" alt="BL" class="Bush_Left" loading="eager">
        </div>
        <div class="HeroBack">
            <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/Background.png" alt="Fondo" class="fondo" loading="eager">
        </div>
    </div>
    <div class="heroText">
        <div class="heroP"></div>
        <div class="HeroFirma"></div>
    </div>
</div>
<style>
    * {
        /*Overall*/
        overflow-x: hidden;
        z-index: 1;
        margin-top:50px;
    }

    /*Hero*/
    /*Fondo*/
    .HeroBack {
        z-index: 1;
    }
    /*Fondo Azul*/
    .fondo {
        z-index: 1;
        width: 100%;
        max-height: 854px;
        
        /*posicion*/
        position: fixed;
        top:40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*Personas*/
        /*Persona Mid*/
        .PersonaUno {
            /*Size*/
            max-height: 630px;
            /*Posicion*/
            position: absolute;
            z-index: 90;
            top: 10%;
            left: 45%;      
            transform: translate(-45%, -10%); 
        }
        /*Persona  Right*/
        .PersonaDos {
            /*Size*/
            height: 504px ;
            /*posicion*/
            position: absolute;
            z-index: 88;
            /*Mov*/
            left: 50%;
            top: 15%;
        }
        /*Arbusto*/
        .Bush_Left {
            /*Size*/
            width: 1100px;
            height: auto;
            /*Posicion*/
            z-index: 87;
            position: absolute;
            top: 40%;
            left: 15%;
        }
    /*Media*/
    @media (max-width: 1080px) {
        /*Fondo*/
        .fondo {
            /*Posicion*/
            top: 25%;
            height: 250px;
            width: 100%;
        }
        .PersonaUno {
            /*Size*/
            height: 350px;
            /*Posicion*/
            left: 40%;
            top: 5%;
            transform: translate(-45%, -5%);
        }
        .PersonaDos {
            /*Size*/
            height: 200px;
        }
        /*Arbusto*/
        .Bush_Left {
            /*Size*/
            width: 300px;
            height: 200px;
            /*Posicion*/
            z-index: 87;
            position: absolute;
            top: 23%;
            left: 3%;
        }
}
    /*Tablets*/
     @media (min-width: 600px) and (max-width: 1024px) {
        .fondo {
            /*Posicion*/
            top: 20%;
            height: 450px;
            width: 100%;
        }
        /*Personas*/
        .PersonaUno {
            /*Size*/
            height: 480px;
            /*Posicion*/
            left: 43%;
            top: 3%;
            transform: translate(-45%, -5%);
        }
        .PersonaDos {
            /*Size*/
            height: 400px;
            /*Posicion*/
        }
        /*Arbusto*/
        .Bush_Left {
            he
        }
}
</style>