---
import Downarrow from './Downarrow.astro';
---
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<div class="hero">
    <div class="heroImgs">
        <div class="heroMainImgs">
            <!-- Persona Mid -->
            <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/P_Mid.png" alt="PU" class="PersonaUno" loading="eager">
            <!-- Persona Right -->
            <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/P_Right.png" alt="PD" class="PersonaDos" loading="eager">
            <!--Arbusto 1 -->
            <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/Bush_Left.png" alt="BL" class="Bush_Left" loading="eager">
            <!-- Arbusto 2 -->
            <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/Bush_Right.png" alt="BR" class="Bush_Right" loading="eager">
            <!-- Persona Left -->
            <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/P_Left.png" alt="PL" class="Persona_Left" loading="eager">
            <!-- Add-ons -->
            <!-- Colibrí -->
            <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/Animal_1.png" alt="A1" class="Colibri" loading="eager">
            <!--Flores -->
            <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/Flower_Yellow.png" alt="Ye" class="FYellow" loading="eager">
            <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/Flower_White.png" alt="Wh" class="FWhite" loading="eager">
            <!-- Flore head -->
            <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/Flower_Red.png" alt="Ro" class="FRed" loading="eager">
            <!--Photos -->
            <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/Photo_Hero_1.png" alt="PH1" class="Photo1" loading="eager">
            <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/Photo_Hero_2.png" alt="PH2" class="Photo2" loading="eager">
        </div>
        <div class="HeroBack">
            <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/Background.png" alt="Fondo" class="fondo" loading="eager">
        </div>
    </div>
    <div class="heroText">
        <p>"El genio se hace con un 1% de talento y un 99% de trabajo duro."</p>
        <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/Graph_Albert.png" alt="Albert" class="FirmaAlbert" loading="eager">
    </div>
    <Downarrow></Downarrow>
</div>
<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        overflow-x: hidden;
    }

    /*Hero*/
    .hero {
        position: relative;
        overflow: hidden;
        margin-top: 50px;
    }

    .heroImgs {
        position: relative;
        height: 600px;
        padding-bottom: 10px;
        overflow: hidden;
        margin-top: 0;
    }

    .heroMainImgs {
        position: relative;
        height: 600px;
        margin-top: 0;
    }

    /*Fondo*/
    .fondo {
        z-index: 1;
        width: 100%;
        max-height: 854px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /*Personas*/
    /*Persona Mid*/
    .PersonaUno {
        max-height: 630px;
        position: absolute;
        z-index: 90;
        top: 5%;
        left: 47.5%;      
        transform: translate(-47.5%, -10%); 
    }

    /*Persona Right*/
    .PersonaDos {
        height: 504px;
        position: absolute;
        z-index: 89;
        left: 53%;
        top: 15%;
    }

    /*Persona Left*/
    .Persona_Left {
        z-index: 86;
        height: 400px;
        width: auto;
        position: absolute;
        top: 18%;
        left: 28%;
    }

    /*Add-ons*/
    /*Colibrí*/
    .Colibri {
        width: auto;
        height: 130px;
        z-index: 88;
        position: absolute;
        top: 55%;
        left: 15%;
        transition: all 0.5s ease;
    }

    /*Flores*/
    .FYellow {
        z-index: 88;
        position: absolute;
        top: 80%;
        left: 33%;
        width: auto;
        height: 70px;
    }

    .FWhite {
        z-index: 88;
        position: absolute;
        top: 56%;
        left: 68%;
        width: auto;
        height: 70px;
    }

    .FRed {
        z-index: 91;
        width: auto;
        height: 70px;
        position: absolute;
        top: 9%;
        left: 49%;
    }	

    /*Arbustos*/
    .Bush_Left {
        width: 1100px;
        height: auto;
        z-index: 87;
        position: absolute;
        top: 50%;
        left: 10%;
        display: flex;
        transition: all 0.5s ease;
    }

    .Bush_Right {
        z-index: 86;
        width: 503px;
        position: absolute;
        top: 42%;
        left: 55%;
        transition: all 0.5s ease;
    }

    /*Photos*/
    .Photo1 {
        z-index: 85;
        width: auto;
        height: 250px;
        rotate: -10deg;
        position: absolute;
        top: 25%;
        left: 18%;
    }

    .Photo2 {
        z-index: 85;
        width: auto;
        height: 350px;
        rotate: 10deg;
        position: absolute;
        left: 68%;
        top: 15%;
    }

    /*Texto*/
    .heroText {
        position: relative;
        z-index: 95;
        text-align: center;
        width: 30%;
        margin: 0 auto;
        padding: 20px 0;
        font-size: 32px;
        font-family: Caveat;
    }

    .FirmaAlbert {
        margin-top: 15px;
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        border-top: 0;
        z-index: 2;
        width: auto;
        height: 65px;
        position: relative;
    }

    /*celulares*/
    @media (max-width: 1080px) {
        .heroImgs {
            height: 380px;
            padding-bottom: 10px;
            overflow: hidden;
        }

        /*Fondo*/
        .fondo {
            top: 50%;
            height: 250px;
        }

        .PersonaUno {
            height: 350px;
            left: 43%;
            top: 8%;
            transform: translate(-45%, -5%);
        }

        .PersonaDos {
            height: 150px;
            width: auto;
            top: 17%;
            left: 60%;
            transition: all 0.5s ease;
        }

        .Persona_Left {
            height: 200px;
            position: absolute;
            top: 20%;
            left: -3%;
            transition: all 0.5s ease;
        }

        /*Add-ons*/
        .Colibri {
            display: none;
            transition: all 0.5s ease;
        }

        /*Flores*/
        .FYellow {
            display: none;
            transition: all 0.5s ease;
        }

        .FWhite {
            display: none;
        }

        .FRed {
            width: auto;
            height: 50px;
            position: absolute;
            top: 10%;
            left: 47%;
        }

        /*Photos*/
        .Photo1 {
            height: 120px;
            top: 16%;
            left: 3%;
            transition: all 0.5s ease;
        }

        .Photo2 {
            height: 10rem;
            z-index: 91;
            rotate: -10deg;
            top: 230px;
            left: 18.5vh;
            transition: all 0.5s ease;
        }

        /*Arbusto*/
        .Bush_Left {
            display: none;
            transition: all 0.5s ease;
        }

        .Bush_Right {
            display: none;
            transition: all 0.5s ease;
        }

        /*Texto*/
        .heroText {
            text-align: center;
            margin: 0 auto; 
            width: 73%;
            margin-top: 2%;
            font-size: 28px;
            font-family: Caveat;   
        }

        .FirmaAlbert {
            height: 45px;
        }
    }

    /*Tablets*/
    @media (min-width: 600px) and (max-width: 1024px) {
        .heroImgs {
            width: 100%;
            height: 580px;
            padding-bottom: 10px;
            overflow: hidden;
        }

        .fondo {
            top: 50%;
            height: 450px;
            width: 100%;
        }

        /*Personas*/
        .PersonaUno {
            height: 580px;
            left: 43%;
            top: 0%;
            transform: translate(-45%, -10%);
        }

        .PersonaDos {
            height: 400px;
            top: 13%;
            left: 49%;
        }

        .Persona_Left {
            height: 300px;
            position: absolute;
            top: 18%;
            left: 21%;
            transform: translate(-8%, -5%);
        }

        /*Add-ons*/
        .Colibri {
            display: none;
        }

        /*Flores*/
        .FYellow {
            display: none;
        }

        .FWhite {
            display: none;
        }

        .FRed {
            top: 3%;
        }

        /*Photos*/
        .Photo1 {
            height: 200px;
            top: 14%;
            left: 14%;
            transition: all 0.5s ease;
        }

        .Photo2 {
            height: 200px;
            z-index: 85;
            rotate: 10deg;
            top: 15%;
            left: 58%;
            transition: all 0.5s ease;
        }

        /*Arbusto*/
        .Bush_Left {
            display: none;
            transition: all 0.5s ease;
        }

        .Bush_Right {
            display: flex;
            top: 29%;
            left: 44%;
            transition: all 0.5s ease;
        }

        /*Text*/
        .heroText {
            margin-top: 0%;
            font-size: 35px;
            width: 50%;
            transform:translateY(-20%);
        }

        .FirmaAlbert {
            height: 70px;
        }
    }

    /*Laptops*/
    @media (min-width: 1025px) and (max-width: 1440px) {
        .heroImgs {
            height: 550px;
            padding-bottom: 10px;
            overflow: hidden;
            margin-top: 0;
        }

        /*Personas*/
        .PersonaUno {
            height: 520px;        
        }

        .PersonaDos {
            height: 400px;
            top: 20%;
        }

        .Persona_Left {
            left: 25%;
            top: 20%;
            height: 300px;
        }
        .Colibri {
            top: 42%;
            left: 15% ;
        }
        .FRed {
            top: 8%;
        }
        .FYellow {
            top: 55%;
        }
        /*Arbustos*/
        .Bush_Left {
            width: 800px;
            height: auto;
            top: 40%;
            left:10%;
            display: flex;
            transition: all 0.5s ease;
        }

        .Bush_Right {
            width: 503px;
            top: 36%;
            left: 49%;
        }
        .Photo1 {
            left: 10% ;
        }
        .Photo2 {
            width: auto;
            height: 250px;
            rotate: 10deg;
            top: 19%;
            left: 65%;
        }
        .heroText {
            transform: translateY(-20%);
            padding-bottom: 0px;
        }
    }
</style>