<div class="hero">
    <div class="heroImgs">
        <div class="heroMainImgs">
            <!-- Persona 1 -->
            <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/P_Mid.png" alt="P1" class="PersonaUno">
        </div>
        <div class="HeroBack">
            <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/Background.png" alt="Fondo" class="fondo">
        </div>
    </div>
    <div class="heroText">
        <div class="heroP"></div>
        <div class="HeroFirma"></div>
    </div>
</div>
<style>
    * {
        /*Overall*/
        overflow-x: hidden;
        z-index: 1;
        margin-top:50px;
    }

    /*Hero*/
    /*Fondo*/
    .HeroBack {
        z-index: 1;
    }
    /*Fondo Azul*/
    .fondo {
        z-index: 1;
        width: 100%;
        max-height: 854px;
        
        /*posicion*/
        position: absolute;
        top:40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*Personas*/
        /*Persona 1*/
        .PersonaUno {
            /*Size*/
            max-height: 800px;
            /*Posicion*/
            position: absolute;
            z-index: 90;
            top: 10%;
            left: 45%;      
            transform: translate(-45%, -10%);
            
            
        }
    /*Media*/
    @media (max-width: 1080px) {
        /*Fondo*/
        .fondo {
            /*Posicion*/
            top: 25%;
            height: 250px;
        }
        .PersonaUno {
            /*Size*/
            height: 280px;
            /*Posicion*/
            left: 40%;
            top: 5%;
            transform: translate(-45%, -5%);
        
    }
}
    /*Tablets*/
     @media (min-width: 600px) and (max-width: 1024px) {
        .fondo {
            /*Posicion*/
            top: 20%;
            height: 450px;
        }
 .PersonaUno {
            /*Size*/
            height: 480px;
            /*Posicion*/
            left: 43%;
            top: 3%;
            transform: translate(-45%, -5%);
 }
}
</style>