<h1>Hola👋</h1>
<style>
    h1 {
        padding-top: 100px;
        text-align: center;
        font-size: clamp(1rem,5rem,18rem);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin: 0 0 20px 0;
    }
</style>