---
import Downarrow from "./Downarrow.astro"
---
<section class="Main" id="us">
<div class="CardOne">
    <div class="Title">
        <h1></h1>
    </div>
    <div class="paragraph">
        <p></p>
    </div>
</div>
<div class="CardTwo">
    <img src="" alt="ImageOne" class="One" loading="lazy">
</div>
</section>
<Downarrow></Downarrow>
<style>
    /*Normal*/

    /*Celular*/
    @media (max-width: 1080px) {
    }

    /*Tablets*/
    @media (min-width: 600px) and (max-width: 1024px) {

    }

    /*Laptop*/
    @media (min-width: 1025px) and (max-width: 1440px) {
        
    }
</style>