---
import Downarrow from './Downarrow.astro';
---
<div class="FrameTwo_Main">
    <div class="FrameTwoImgs">
        <!-- Fondo -->
        <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/Background.png" alt="Fondo" class="fondo" loading="eager">
        <!-- Contador -->
        <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/Contador.webp.png" alt="Counter" class="Counter" loading="eager">
        <!-- Nube 1 -->
        <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/nube_1.png" alt="C1" class="Cloud_One" loading="eager">
        <!-- Nube 2 -->
        <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/nube_2.png" alt="C2" class="Cloud_Two" loading="eager">
        <!-- Flor Blanca -->
        <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/Flower_White.png" alt="Wh" class="FWhite" loading="eager">        
        <!--Photo 1 -->
        <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/Photo_Frame2_1.png" alt="P1" class="PhOne" loading="lazy">
        <!-- Photo 2 -->
        <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/Photo_Frame2_2.png" alt="P2" class="PhTwo" loading="lazy">
        <!-- Pregunta -->
        <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/pregunta.png" alt="P1" class="Pregunta" loading="eager">
        <!-- Emoji -->
        <img src="https://cdn.jsdelivr.net/gh/Aadps123/pelaopro-landing@main/Cloudfare/Emoji_Thinking.png" alt="" class="Emoji" loading="lazy">
    </div>
    <div class="content-container">
        <p class="parrafo">Pelao'Pro es un programa piloto que acompa침a a los j칩venes en su camino hacia un futuro con m치s oportunidades, brind치ndoles herramientas para tomar decisiones informadas y acceder a las mejores opciones.</p>
        <a href="/nosotros" class="button">Descubre</a>
    </div>
</div>
<Downarrow></Downarrow>

<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        overflow-x: hidden;
    }

    .FrameTwo_Main {
        position: relative;
        overflow: hidden;
        padding: 50px 0;
        margin-top: 20px;
        min-height: 700px;
    }
    
    .FrameTwoImgs {
        position: relative;
        height: 600px;
        overflow: hidden;
    }

    .content-container {
        position: relative;
        z-index: 95;
        margin-top: -100px;
    }
    
    /*Normal*/
    .Counter {
        width: auto;
        height: 270px;
        z-index: 90;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.5s ease;
    }
    
    /*Nubes*/
    .Cloud_One {
        z-index: 91;
        position: absolute;
        top: 65%;
        left: 20%;
        width: auto;
        height: 350px;
        transform: translateY(-50%);
        rotate: -1deg;
        transition: all 0.5s ease;
    }
    
    .Cloud_Two {
        width: auto;
        height: 275px;
        z-index: 89;
        position: absolute;
        top: 10%;
        left: 52%;
        rotate: -5deg;
        transition: all 0.5s ease;

    }
    
    /*Add-ons*/
    .FWhite {
        width: auto;
        height: 100px;
        z-index: 90;
        position: absolute;
        top: 60%;
        left: 61%;
        transition: all 0.5s ease;

    }
    
    /*Photos*/
    .PhOne {
        width: auto;
        height: 250px;
        z-index: 89;
        position: absolute;
        top: 30%;
        left: 16%;
        rotate: 10deg;
        transition: all 0.5s ease;

    }
    
    .PhTwo {
        width: auto;
        height: 300px;
        z-index: 88;
        position: absolute;
        top: 40%;
        right: 15%;
        rotate: 11deg;
        transition: all 0.5s ease;

    }
    
    .fondo {
        z-index: 1;
        width: 100%;
        max-height: 854px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease;

    }
    
    /*Pregunta*/
    .Pregunta {
        width: auto;
        height: 70px;
        opacity: 80%;
        z-index: 90;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.5s ease;

    }
    
    .Emoji {
        width: auto;
        height: 60px;
        rotate: 20deg;
        z-index: 90;
        position: absolute;
        top: 83%;
        left: 60%;
        transition: all 0.5s ease;

    }
    
    .parrafo {
        transform:translateY(20%) ;        
        width: 60%;
        max-width: 700px;
        text-align: center;
        font-size: 31px;
        font-family: Caveat;
        margin: 0 auto;
        padding: 20px;
        transition: all 0.5s ease;

    }
    
    /*Boton*/
    .button {
        transform:translateY(25%) ;        
        display: block;
        width: fit-content;
        margin: 20px auto;
        padding: 20px 60px;
        background-color: #000;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        border-radius: 50px;
        transition: all 0.3s ease;
        text-align: center;
        z-index: 95;
        position: relative;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 8px 12px rgba(0, 0, 0, 0.2);
    }
    
    .button:hover {
        transform: translateY(-1px);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4), 0 12px 18px rgba(0, 0, 0, 0.3);
    }
    
    .button:active {
        transform: translateY(1px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    /*Celular*/
    @media (max-width: 1080px) {
        .FrameTwo_Main {
            height: 780px;
        }
        
        .FrameTwoImgs {
            height: 450px;
        }
        
        .fondo {
            height: 100%;
            object-fit: cover;
        }
        
        .Counter {
            width: auto;
            height: 130px;
            top: 15%;
            left: 50%;
            transform: translateX(-50%);
        }
        
        .Cloud_One {
            height: 100px;
            top: 40%;
            left: -2%;
        }
        
        .Cloud_Two {
            height: 100px;
            top: 5%;
            left: 60%;
        }
        
        .FWhite {
            display: none;
        }
        
        .PhOne {
            display: none;
        }
        
        .PhTwo {
            z-index: 91;
            height: 130px;
            rotate: -20deg;
            top: 30%;
            left: 50%;
        }
        
        .Pregunta {
            height: 40px;
            top: 60%;
        }
        
        .Emoji {
            height: 40px;
            top: 60%;
            left: 75%;
            rotate: 0deg;
        }
        
        .content-container {
            margin-top: -50px;
        }
        
        .parrafo {
            transform: translateY(-35%);
            width: 80%;
            font-size: 24px;
        }
        
        .button {
            padding: 15px 40px;
            transform: translateY(-180%)
        }
    }

    /*Tablet*/
    @media (min-width: 600px) and (max-width: 1024px) {
        .FrameTwo_Main {
            min-height: 650px;
        }
        
        .Counter {
            width: auto;
            height: 260px;
            top: 15%;
        }
        .Cloud_One {
            height: 220px;
            top: 60%;
            left: 10%;
        }
        .Cloud_Two {
            top: 0%;
            left: 50%;
            height: 200px;
        }
        .PhOne {
            display: none;
        }
        
        .PhTwo {
            display: none;
        }
        .Pregunta {
            top: 85%;
            height: 60px;
        }
        .parrafo {
            width: 70%;
            font-size: 28px;
        }
        .Emoji {
            height: 70px;
            top: 80%;
            left: 65%;
        }
    }

    /*Laptop*/
    @media (min-width: 1025px) and (max-width: 1440px) {
        .fondo {
            top: 200px;
        }
        .Counter {
            top:15%;

        }
        
        .Cloud_One {
            top: 50%;
            left: 10%;
        }
        
        .Cloud_Two {
            left: 50%;
            top: 0%;
        }
        
        .FWhite {
            left: 65%;
            top: 50%;
        }
        .PhOne {
            top: 30%;
            left: 10%; 
            height:  150px;
        }
        .PhTwo {
            top: 40%;
            left: 70%;
            height:  250px;
        }
        .Pregunta {
            top: 75%;
        }
        .Emoji {
            top: 75%;
            left: 63%;
        }
        .parrafo {
            transform: translateY(5%);
        }
    }
</style>