---
import Analytics from '@vercel/analytics/astro'
import  SpeedInsights  from "@vercel/speed-insights/astro"
import NavBar from "../components/Landing/NavBar.astro"
import Hero from "../components/Landing/Hero.astro"
import Who from "../components/Landing/Who.astro"
import Firstgen from "../components/Landing/Firstgen.astro"
import Mandvcards from "../components/Landing/Mandvcards.astro"
import Collage from '../components/Landing/Collage.astro'
import Done from '../components/Landing/Done.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/temp favi.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- SEO -->
		<meta name="description" content="Pelao'Pro te ayuda a descubrir tu pasi贸n, prepararte para la universidad y emprender desde joven." />
		<meta name="keywords" content="emprendimiento, j贸venes, futuro, educaci贸n, universidad, innovaci贸n, panam谩, becas, Pelao Pro, pelaopro, PelaoPro, Pelao'Pro" />
		<meta name="author" content="PelaoPro" />
		<meta property="og:title" content="Pelao'Pro | Educaci贸n y Emprendimiento para J贸venes" />
		<meta property="og:description" content="Descubre tu pasi贸n, prep谩rate para la universidad y emprende desde joven con Pelao'Pro." />
		<meta name="author" content="PelaoPro" />
		<title>Pelao'Pro</title>
	</head>
	<body>
		<!-- NavBar -->
		<NavBar></NavBar>
		<!-- Hero -->
		<Hero></Hero>
		<!-- 驴Quien茅s somos? -->
		<Who></Who>
		<!-- 1rst Gen -->
		<Firstgen></Firstgen>
		<!-- Misi贸n y Visi贸n -->
		<Mandvcards></Mandvcards>
		<!-- Collage -->
		<Collage></Collage>
		<!-- 驴Qu茅 hemos hecho? -->
		<Done></Done>
		<!-- Chatbot y Replicabilidad -->
		
		<!--Testimonios -->

		<!-- Contacto -->

		<!-- Thanks -->

		<!-- Footer -->
		 
		<!-- Data recolection from Vercel -->
		<Analytics />
    	<SpeedInsights />
	</body>
</html>
<style>
		/* Global Styles */
		* {
			margin: 0;
			padding: 0;
			font-family: 'Poppins', sans-serif;
			overflow-x: hidden;
			
		}
		html {
			color: black;
			background-color: white;
		}
	</style>