---
import Analytics from '@vercel/analytics/astro'
import  SpeedInsights  from "@vercel/speed-insights/astro"
import NavBar from "../components/Landing/NavBar.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/temp favi.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- SEO -->
		<meta name="description" content="Pelao'Pro te ayuda a descubrir tu pasi贸n, prepararte para la universidad y emprender desde joven." />
		<meta name="keywords" content="emprendimiento, j贸venes, futuro, educaci贸n, universidad, innovaci贸n, panam谩, becas, Pelao Pro, pelaopro, PelaoPro, Pelao'Pro" />
		<meta name="author" content="PelaoPro" />
		<meta property="og:title" content="Pelao'Pro | Educaci贸n y Emprendimiento para J贸venes" />
		<meta property="og:description" content="Descubre tu pasi贸n, prep谩rate para la universidad y emprende desde joven con Pelao'Pro." />
		<meta name="author" content="PelaoPro" />
		<title>Pelao'Pro</title>
	</head>
	<body>
		<!-- NavBar -->
		<NavBar></NavBar>
		<!-- Hero -->

		<!-- 驴Quien茅s somos? -->

		<!-- 1rst Gen -->

		<!-- Misi贸n y Visi贸n -->

		<!-- 驴Qu茅 hemos hecho? -->

		<!-- Chatbot y Replicabilidad -->

		<!--Testimonios -->

		<!-- Contacto -->

		<!-- Thanks -->

		<!-- Footer -->
		 
		<!-- Data recolection from Vercel -->
		<Analytics />
    	<SpeedInsights />
	</body>
</html>
