---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/temp favi.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Pelao'Pro te ayuda a descubrir tu pasi贸n, prepararte para la universidad y emprender desde joven." />
		<meta name="keywords" content="emprendimiento, j贸venes, futuro, educaci贸n, universidad, innovaci贸n, panam谩, becas" />
		<meta name="author" content="PelaoPro" />
		<title>Pelao'Pro</title>
	</head>
	<body>
		<h1>hola</h1>
	</body>
</html>
