---
import NavBar from "../components/Landing/NavBar.astro";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/temp favi.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- SEO -->
		<meta name="description" content="Pelao'Pro te ayuda a descubrir tu pasión, prepararte para la universidad y emprender desde joven." />
		<meta name="keywords" content="emprendimiento, jóvenes, futuro, educación, universidad, innovación, panamá, becas, Pelao Pro, pelaopro, PelaoPro, Pelao'Pro" />
		<meta name="author" content="PelaoPro" />
		<meta property="og:title" content="Pelao'Pro | Educación y Emprendimiento para Jóvenes" />
		<meta property="og:description" content="Descubre tu pasión, prepárate para la universidad y emprende desde joven con Pelao'Pro." />
		<meta name="author" content="PelaoPro" />
		<title>Nosotros🗣️</title>
	</head>
	<body>
		<NavBar></NavBar>
		<section class="Historia">
			<div class="Main">
				<div class="Pregunta">
					<img src="" alt="I1" class="ImgOne" loading="lazy">
				</div>
				<div class="Imagenes">
					<img src="" alt="I2" class="ImgTwo" loading="lazy">
					<img src="" alt="I3" class="ImgThree" loading="lazy">
				</div>
				<div class="Parrafo">
					<p>
					</p>
				</div>
			</div>
		</section>
	</body>
</html>
<style>
		/* Global Styles */
		* {
			margin: 0;
			padding: 0;
			font-family: 'Poppins', sans-serif;
			overflow-x: hidden;
			
		}
		html {
			color: black;
			background-color: white;
		}
	</style>